body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
}

header {
    display: flex;
    background-color: #333;
    color: #fff;
    text-align: center;
    justify-content: flex-end;
}

header a {
    color: #fff;
    padding: 20px;
    margin: 0;
}

#labs li {
    padding: 4px;
}

#labs h2 {
    border-bottom: solid 2px #000;
}

#pract li{
    padding: 4px;
}

#pract h2 {
    border-bottom: solid 2px #000;
    border-bottom-width: 10% ;
}

nav {
    background-color: #444;
    color: #fff;
    padding: 10px;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.profile {
    display: flex;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.profile img {
    max-width: 150px;
    border-radius: 50%;
}

.practt {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

a {
     text-decoration: none;
     color: #000;
}
    color: #fff;
    text-align: center;
    padding: 10px;
}
