body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    background-image: url("Makima.jpg");
    background-size: 100%;
}

header {
    display: flex;
    background-color: #333;
    color: #fff;
    text-align: center;
    justify-content: flex-end;
}

header a {
    color: #fff;
    padding: 20px;
    margin: 0;
}

#labs li {
    padding: 4px;
}

#labs h2 {
    border-bottom: solid 2px #000;
}

#pract li{
    padding: 4px;
}

#pract h2 {
    border-bottom: solid 2px #000;
    border-bottom-width: 10% ;
}

nav {
    background-color: #444;
    color: #fff;
    padding: 10px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
}

.profile {
    display: flex;
    max-width: 100%;
    width: 600px;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 20px #ccc;
    -webkit-box-shadow: 0px 0px 20px #ccc;
    opacity: 0.9;
    font-family: 'Montserrat', sans-serif;
}

.profile-reg {
    display: flex;
    max-width: 100%;
    width: 400px;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 20px #ccc;
    -webkit-box-shadow: 0px 0px 20px #ccc;
    opacity: 0.9;
    font-family: 'Montserrat', sans-serif;
}

.profile img {
    max-width: 150px;
    border-radius: 50%;
}

.profile select {
    width: 100%;
    padding: 10px;
    border: 1px solid #cc;
    border-radius: 5px;
}

.profile button {
    width: 100%;
    padding: 10px;
    border: 1px solid #333;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    cursor: pointer;
}

.profile button:hover {
    background-color: #222;
}

.practt {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

form {
    margin-bottom: 20px;
}

#reg-first-lab h1 {
    padding: 12px 12px 0px 0px;
    font-size: 22px;
    text-transform: uppercase;
    padding-bottom: 5px;
    letter-spacing: 2px;
    display: inline-block;
    font-weight: 100;
}

.profile label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
}

.profile input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group {
    margin-bottom: 15px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

a {
     text-decoration: none;
     color: #000;
} 
