.profile {
    display: flex;
    max-width: 100%;
    width: 600px;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 20px #ccc;
    -webkit-box-shadow: 0px 0px 20px #ccc;
    opacity: 0.9;
    font-family: 'Montserrat', sans-serif;
}

.profile img {
    max-width: 150px;
    border-radius: 50%;
}

/*first-lab*/

.profile-reg {
    display: flex;
    max-width: 100%;
    width: 400px;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 20px #ccc;
    -webkit-box-shadow: 0px 0px 20px #ccc;
    opacity: 0.9;
    font-family: 'Montserrat', sans-serif;
}

.profile select {
    width: 100%;
    padding: 10px;
    border: 1px solid #cc;
    border-radius: 5px;
}

.profile button {
    width: 100%;
    padding: 10px;
    border: 1px solid #333;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    cursor: pointer;
}

.profile button:hover {
    background-color: #222;
}

.profile-reg select {
    width: 100%;
    padding: 10px;
    border: 1px solid #cc;
    border-radius: 5px;
}

.profile-reg button {
    width: 100%;
    padding: 10px;
    border: 1px solid #333;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    cursor: pointer;
}

.profile-reg button:hover {
    background-color: #222;
}

#reg-first-lab h1 {
    margin: 1px;
    padding: 12px 12px 0px 0px;
    font-size: 22px;
    text-transform: uppercase;
    padding-bottom: 5px;
    letter-spacing: 2px;
    display: inline-block;
    font-weight: 100;
}

.profile label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
}

.profile input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.profile-reg label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
}

.profile-reg input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group {
    margin-bottom: 15px;
}

/*second-lab*/

.container input {
    background-color: #ffff;
}

.container input[type="text"] {
    border: 1px solid #0000FF;
}

.container input:checked {
    background-color: #b0deff;
}

#labs li {
    padding: 4px;
}

#labs h2 {
    border-bottom: solid 2px #000;
}

#sec-lab input[type="text"]:not(disabled) {
    background-color: #999;
}

#sec-lab header ul {
    display: flex;
    flex-direction: row;
}

#sec-lab header li {
    margin-right: 10px;
}

#sec-lab ul li {
    font-size: 24px;
}

#sec-lab ul li:nth-child(even) {
    font-weight: bold;
}

#sec-lab p:first-child {
    font-size: 24px;
}

#sec-lab p:first-letter {
    font-size: 36px;
    font-weight: bold;
}

#sec-lab a::after {
    content: url"https://example.com/image.png";
}

.special {
    text-decoration: line-through;
}

#sec-lab div p {
    font-size: 16px;
}

#sec-lab li a {
    text-decoration: underline;
}

#sec-lab a {
    color: #FF0000;
}

#sec-lab a[href^="https://"] {
    color: #355E3B;
}

#sec-lab div p {
    font-weight: bolder;
}

#pract li{
    padding: 4px;
}

#pract h2 {
    border-bottom: solid 2px #000;
    border-bottom-width: 10% ;
}

.practt {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

#sec-lab nav {
    background-color: none;
    color: #fff;
    padding: 10px;
}

/*third-lab*/

.yt-header {
    width: 100%;
    height: 100%;
    background-color: #212121;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.yt-header nav {
    background-color: #212121;
    padding: 0;
}

.yt-header h1 {
    margin: 10px;
}

.yt-header input {
    border: 1px solid #515151;
    padding: 5px;
    border-radius: 50px;
    background-color: #212121;
    
    color: #515151;
}

.yt-header button {
    position: relative;
    right: 38px;
    top: 4px;
    border: none;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
    background: #515151;
    color: #515151;
}


.yt-header button img {
    background: none;
    padding: 0;
    width: 20px;
    height: 20px;
}

.videos {
    display: grid;
    justify-content: space-around;
    padding: 0px 15px 0px 0px;
}

.videos h1 {
    margin: 0;
}

#filt {
    margin-top: 50px;
}

.videos h3 {
    padding: 5px;
    margin: 0 auto;
    font-size: 1rem;
}

.videos ul li iframe {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: opacity 1s ease;
    animation: fadeIn 2s ease;
}

.videos ul {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr;
  gap: 50px;
}

.videos li {
  box-sizing: border-box;
}

@media screen and (min-width: 600px) {
  .videos ul {
    grid-template-columns: repeat(2, 1fr); /* Two columns for each video */
  }
}

@media screen and (min-width: 900px) {
  .videos ul {
    grid-template-columns: repeat(3, 1fr); /* Three columns for each video */
  }
}

/*fourth-lab*/

.wp-main-cont {
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #000;
}

.side-bar {
    height: 100%;
    border: 1px solid #000;
    padding: 0px 20px 0px 0px;
}

.side-bar li {
    border-bottom: 1px solid #000;
}

.days {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 100%;
}

.days .day {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    border: 1px solid #000;
    height: 100%;
    padding: 0 80px;
}

.days .day p {
    margin: 10px 0;
    border-bottom: 1px solid #000;
}

.days .holidays {
    display: grid;
    grid-template-columns: repeat(1, 1fr);

}

.holidays .holiday {
    display: flex;
    border: 1px solid #000;
    justify-content: center;
    align-items: flex-start;
}

.holidays .holiday p {
    margin: 10px 0;
    border-bottom: 1px solid #000;
}

.lab-4-header {
    justify-content: space-between;
}

/*lab-five*/

.home {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.home .div {
  background-color: #ffffff;
  width: 1152px;
  height: 2041px;
  position: relative;
}

.home .overlap {
  position: absolute;
  width: 248px;
  height: 256px;
  top: 210px;
  left: 755px;
}

.home .ellipse {
  top: 13px;
  left: 0;
  background-color: #edf7fa;
  border-radius: 121.5px;
  position: absolute;
  width: 243px;
  height: 243px;
}

.home .img {
  top: 0;
  left: 5px;
  object-fit: cover;
  position: absolute;
  width: 243px;
  height: 243px;
}

.home .overlap-group {
  position: absolute;
  width: 208px;
  height: 47px;
  top: 477px;
  left: 148px;
  background-color: var(--primary);
  border-radius: 2px;
}

.home .text-wrapper {
  position: absolute;
  width: 167px;
  top: 8px;
  left: 20px;
  font-family: "Heebo-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.home .hi-i-am-john {
  position: absolute;
  width: 506px;
  top: 227px;
  left: 148px;
  font-family: "Heebo-Bold", Helvetica;
  font-weight: 700;
  color: var(--dark-color);
  font-size: 44px;
  letter-spacing: 0;
  line-height: 60px;
}

.home .p {
  width: 497px;
  top: 372px;
  left: 148px;
  position: absolute;
  font-family: "Heebo-Regular", Helvetica;
  font-weight: 400;
  color: var(--dark-color);
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.home .overlap-group-2 {
  position: absolute;
  width: 132px;
  height: 43px;
  top: 26px;
  left: 856px;
}

.home .text-wrapper-2 {
  position: absolute;
  width: 57px;
  top: 0;
  left: 0;
  font-family: "Heebo-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 20px;
  text-align: right;
  letter-spacing: 0;
  line-height: normal;
}

.home .text-wrapper-3 {
  position: absolute;
  width: 100%;
  top: 0;
  left: 26px;
  font-family: "Heebo-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 20px;
  text-align: right;
  letter-spacing: 0;
  line-height: normal;
}

.home .text-wrapper-4 {
  position: absolute;
  width: 71px;
  top: 26px;
  left: 1021px;
  font-family: "Heebo-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 20px;
  text-align: right;
  letter-spacing: 0;
  line-height: normal;
}

.home .overlap-2 {
  position: absolute;
  width: 1152px;
  height: 396px;
  top: 595px;
  left: 0;
  background-color: #edf7fa;
}

.home .overlap-3 {
  position: absolute;
  width: 418px;
  height: 295px;
  top: 69px;
  left: 148px;
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0px 4px 10px #bbe1fa40;
}

.home .text-wrapper-5 {
  position: absolute;
  width: 374px;
  top: 23px;
  left: 23px;
  font-family: "Heebo-Bold", Helvetica;
  font-weight: 700;
  color: var(--dark-color);
  font-size: 26px;
  letter-spacing: 0;
  line-height: normal;
}

.home .overlap-4 {
  position: absolute;
  width: 395px;
  height: 34px;
  top: 125px;
  left: 23px;
}

.home .text-wrapper-6 {
  position: absolute;
  width: 239px;
  top: 0;
  left: 156px;
  font-family: "Heebo-Regular", Helvetica;
  font-weight: 400;
  color: var(--dark-color);
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.home .vector {
  position: absolute;
  width: 1px;
  height: 21px;
  top: 4px;
  left: 130px;
}

.home .text-wrapper-7 {
  width: 374px;
  font-family: "Heebo-Regular", Helvetica;
  font-weight: 400;
  font-size: 18px;
  position: absolute;
  top: 0;
  left: 0;
  color: var(--dark-color);
  letter-spacing: 0;
  line-height: normal;
}

.home .text-wrapper-8 {
  position: absolute;
  width: 368px;
  top: 170px;
  left: 23px;
  font-family: "Heebo-Regular", Helvetica;
  font-weight: 400;
  color: var(--dark-color);
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.home .overlap-5 {
  position: absolute;
  width: 418px;
  height: 295px;
  top: 69px;
  left: 586px;
  background-color: #ffffff;
  border-radius: 4px;
}

.home .vector-2 {
  position: absolute;
  width: 1px;
  height: 21px;
  top: 2px;
  left: 130px;
}

.home .text-wrapper-9 {
  position: absolute;
  height: 60px;
  top: 6px;
  left: 148px;
  font-family: "Heebo-Regular", Helvetica;
  font-weight: 400;
  color: var(--dark-color);
  font-size: 22px;
  letter-spacing: 0;
  line-height: 60px;
  white-space: nowrap;
}

.home .text-wrapper-10 {
  position: absolute;
  width: 208px;
  top: 26px;
  left: 796px;
  font-family: "Heebo-Regular", Helvetica;
  font-weight: 400;
  color: var(--secondry);
  font-size: 16px;
  text-align: right;
  letter-spacing: 0;
  line-height: normal;
}

.home .text-wrapper-11 {
  position: absolute;
  top: 1005px;
  left: 148px;
  font-family: "Heebo-Regular", Helvetica;
  font-weight: 400;
  color: var(--dark-color);
  font-size: 22px;
  letter-spacing: 0;
  line-height: 60px;
  white-space: nowrap;
}

.home .footer {
  position: absolute;
  width: 1152px;
  height: 182px;
  top: 1859px;
  left: 0;
  background-color: #ffffff;
}

.home .fb {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 51px;
  left: 459px;
}

.home .linkedin {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 51px;
  left: 661px;
}

.home .group {
  position: absolute;
  width: 37px;
  height: 30px;
  top: 51px;
  left: 589px;
}

.home .insta {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 51px;
  left: 524px;
}

.home .text-wrapper-12 {
  position: absolute;
  top: 106px;
  left: 464px;
  font-family: "Heebo-Regular", Helvetica;
  font-weight: 400;
  color: var(--dark);
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.home .text-wrapper-13 {
  position: absolute;
  top: 1076px;
  left: 410px;
  font-family: "Heebo-Bold", Helvetica;
/*  font-weight: 700;*/
  color: var(--dark-color);
  font-size: 30px;
  letter-spacing: 0;
  line-height: normal;
}

.home .overlap-6 {
  position: absolute;
  width: 462px;
  height: 102px;
  top: 1311px;
  left: 410px;
}

.home .overlap-7 {
  position: absolute;
  width: 337px;
  height: 102px;
  top: 0;
  left: 0;
}

.home .text-wrapper-14 {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Heebo-Bold", Helvetica;
/*  font-weight: 700;*/
  color: var(--dark-color);
  font-size: 30px;
  letter-spacing: 0;
  line-height: normal;
}

.home .rectangle {
  position: absolute;
  width: 62px;
  height: 25px;
  top: 61px;
  left: 0;
  background-color: #142850;
  border-radius: 16px;
}

.home .text-wrapper-15 {
  top: 42px;
  position: absolute;
  left: 10px;
  font-family: "Heebo-Black", Helvetica;
  font-weight: 900;
  color: #ffffff;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 60px;
  white-space: nowrap;
}

.home .text-wrapper-16 {
  position: absolute;
  width: 374px;
  top: 56px;
  left: 88px;
  font-family: "Heebo-Regular", Helvetica;
  font-weight: 400;
  color: var(--light);
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.home .overlap-8 {
  position: absolute;
  width: 462px;
  height: 99px;
  top: 1559px;
  left: 410px;
}

.home .overlap-9 {
  position: absolute;
  width: 365px;
  height: 99px;
  top: 0;
  left: 0;
}

.home .rectangle-2 {
  position: absolute;
  width: 62px;
  height: 25px;
  top: 58px;
  left: 0;
  background-color: #142850;
  border-radius: 16px;
}

.home .text-wrapper-17 {
  top: 39px;
  position: absolute;
  left: 10px;
  font-family: "Heebo-Black", Helvetica;
  font-weight: 900;
  color: #ffffff;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 60px;
  white-space: nowrap;
}

.home .text-wrapper-18 {
  position: absolute;
  width: 374px;
  top: 53px;
  left: 88px;
  font-family: "Heebo-Regular", Helvetica;
  font-weight: 400;
  color: var(--light);
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.home .text-wrapper-19 {
  position: absolute;
  width: 374px;
  top: 1136px;
  left: 498px;
  font-family: "Heebo-Regular", Helvetica;
  font-weight: 400;
  color: var(--light);
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.home .text-wrapper-20 {
  width: 594px;
  top: 1187px;
  left: 410px;
  position: absolute;
  font-family: "Heebo-Regular", Helvetica;
  font-weight: 400;
  color: var(--dark-color);
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.home .text-wrapper-21 {
  width: 594px;
  top: 1418px;
  left: 410px;
  position: absolute;
  font-family: "Heebo-Regular", Helvetica;
  font-weight: 400;
  color: var(--dark-color);
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.home .text-wrapper-22 {
  width: 507px;
  top: 1678px;
  left: 413px;
  position: absolute;
  font-family: "Heebo-Regular", Helvetica;
  font-weight: 400;
  color: var(--dark-color);
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.home .overlap-10 {
  position: absolute;
  width: 62px;
  height: 60px;
  top: 1122px;
  left: 410px;
}

.home .rectangle-3 {
  position: absolute;
  width: 62px;
  height: 25px;
  top: 19px;
  left: 0;
  background-color: #142850;
  border-radius: 16px;
}

.home .text-wrapper-23 {
  top: 0;
  position: absolute;
  left: 10px;
  font-family: "Heebo-Black", Helvetica;
  font-weight: 900;
  color: #ffffff;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 60px;
  white-space: nowrap;
}

.home .vector-3 {
  position: absolute;
  width: 858px;
  height: 1px;
  top: 1282px;
  left: 146px;
  object-fit: cover;
}

.home .vector-4 {
  position: absolute;
  width: 858px;
  height: 1px;
  top: 1528px;
  left: 146px;
  object-fit: cover;
}

.home .vector-5 {
  position: absolute;
  width: 858px;
  height: 1px;
  top: 1776px;
  left: 146px;
  object-fit: cover;
}

.home .rectangle-4 {
  position: absolute;
  width: 246px;
  height: 180px;
  top: 1088px;
  left: 146px;
  object-fit: cover;
}

.home .rectangle-5 {
  position: absolute;
  width: 246px;
  height: 180px;
  top: 1314px;
  left: 146px;
  object-fit: cover;
}

.home .rectangle-6 {
  position: absolute;
  width: 246px;
  height: 184px;
  top: 1560px;
  left: 146px;
  object-fit: cover;
}

/*general-appearance*/

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
/*    overflow: hidden;*/
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    mxa-height: 100%;
    margin: 0 auto;
    padding: 10px 20px 20px 20px;
}

form {
    margin-bottom: 20px;
}

header {
    display: flex;
    background-color: #212121;
    color: #fff;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 56px;
}

header a {
    color: #fff;
    padding: 20px;
    margin: 0;
}

header nav {
    background-color: none;
    padding: 20px;
    text-align: right;
}

header h1 {
    margin: 0;
    padding: 5px;
}

footer {
    width: 100%;
    height: 50px;
    background-color: #212121;
    color: #fff;
    text-align: center;
    padding: 10px;
    transition: margin 0.3s;
    position: fixed;
    bottom: 0;
}

body:hover footer {
    margin-bottom: -80px;
}

a {
     text-decoration: none;
     color: #000;
}
