body {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
/*    overflow: hidden;*/
}

html {
    height: 100%;
}

header {
    display: flex;
/*    flex: 1;*/
    background-color: #212121;
    color: #fff;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 56px;
}

header a {
    color: #fff;
    padding: 20px;
    margin: 0;
}

header nav {
    background-color: none;
    padding: 20px;
}

.container input {
    background-color: #ffff;
}

.container input[type="text"] {
    border: 1px solid #0000FF;
}

.container input:checked {
    background-color: #b0deff;
}

#labs li {
    padding: 4px;
}

#labs h2 {
    border-bottom: solid 2px #000;
}

#sec-lab input[type="text"]:not(disabled) {
    background-color: #999;
}

#sec-lab header ul {
    display: flex;
    flex-direction: row;
}

#sec-lab header li {
    margin-right: 10px;
}

#sec-lab ul li {
    font-size: 24px;
}

#sec-lab ul li:nth-child(even) {
    font-weight: bold;
}

#sec-lab p:first-child {
    font-size: 24px;
}

#sec-lab p:first-letter {
    font-size: 36px;
    font-weight: bold;
}

#sec-lab a::after {
    content: url"https://example.com/image.png";
}

.special {
    text-decoration: line-through;
}

#sec-lab div p {
    font-size: 16px;
}

#sec-lab li a {
    text-decoration: underline;
}

#sec-lab a {
    color: #FF0000;
}

#sec-lab a[href^="https://"] {
    color: #355E3B;
}

#sec-lab div p {
    font-weight: bolder;
}

#pract li{
    padding: 4px;
}

#pract h2 {
    border-bottom: solid 2px #000;
    border-bottom-width: 10% ;
}

.practt {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

#sec-lab nav {
    background-color: none;
    color: #fff;
    padding: 10px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    mxa-height: 100%;
    margin: 0 auto;
    padding: 10px 20px 20px 20px;
}

.profile {
    display: flex;
    max-width: 100%;
    width: 600px;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 20px #ccc;
    -webkit-box-shadow: 0px 0px 20px #ccc;
    opacity: 0.9;
    font-family: 'Montserrat', sans-serif;
}

.profile-reg {
    display: flex;
    max-width: 100%;
    width: 400px;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 20px #ccc;
    -webkit-box-shadow: 0px 0px 20px #ccc;
    opacity: 0.9;
    font-family: 'Montserrat', sans-serif;
}

.profile img {
    max-width: 150px;
    border-radius: 50%;
}

.profile select {
    width: 100%;
    padding: 10px;
    border: 1px solid #cc;
    border-radius: 5px;
}

.profile button {
    width: 100%;
    padding: 10px;
    border: 1px solid #333;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    cursor: pointer;
}

.profile button:hover {
    background-color: #222;
}

.profile-reg select {
    width: 100%;
    padding: 10px;
    border: 1px solid #cc;
    border-radius: 5px;
}

.profile-reg button {
    width: 100%;
    padding: 10px;
    border: 1px solid #333;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    cursor: pointer;
}

.profile-reg button:hover {
    background-color: #222;
}

form {
    margin-bottom: 20px;
}

#reg-first-lab h1 {
    margin: 1px;
    padding: 12px 12px 0px 0px;
    font-size: 22px;
    text-transform: uppercase;
    padding-bottom: 5px;
    letter-spacing: 2px;
    display: inline-block;
    font-weight: 100;
}

.profile label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
}

.profile input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.profile-reg label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
}

.profile-reg input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group {
    margin-bottom: 15px;
}

/*third-lab*/

.yt-header {
    width: 100%;
    height: 100%;
    background-color: #212121;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.yt-header nav {
    background-color: #212121;
    padding: 0;
}

.yt-header h1 {
    margin: 10px;
}

.yt-header input {
    border: 1px solid #515151;
    padding: 5px;
    border-radius: 50px;
    background-color: #212121;
    
    color: #515151;
}

.yt-header button {
    position: relative;
    right: 38px;
    top: 4px;
    border: none;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
    background: #515151;
    color: #515151;
}


.yt-header button img {
    background: none;
    padding: 0;
    width: 20px;
    height: 20px;
}

.videos {
    display: grid;
    justify-content: space-around;
    padding: 0px 15px 0px 0px;
}

.videos h1 {
    margin: 0;
}

.videos ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 300px;
    list-style: none;
    margin-bottom: 50px;
    padding: 0;
}

.videos ul li {
    display: block;
    padding: 10px 20px 10px 20px;
    margin-bottom: 60px;
}

.videos h3 {
    padding: 5px;
    margin: 0 auto;
    font-size: 1rem;
}

.videos ul li iframe {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: opacity 1s ease;
    animation: fadeIn 2s ease;
}

@media (max-width: 768px) {
    header {
        height: 80px;
    }

    .yt-header nav {
        flex-direction: column;
    }

    .videos {
        flex-direction: column;
    }

    .videos ul {
        width: 100%;
    }

    .videos ul li {
        width: 100%;
        margin: 0 0 20px 0;
        padding: 10px;
    }
}

footer {
    width: 100%;
    height: 50px;
    background-color: #212121;
    color: #fff;
    text-align: center;
    padding: 10px;
    transition: margin 0.3s;
    position: fixed;
    bottom: 0;
}

body:hover footer {
    margin-bottom: -80px;
}


a {
     text-decoration: none;
     color: #000;
}
